.header-logo {
    width: 80px;
    height: 80px;
    margin-left: 30px
}

#homepage {
    height: 90vh;
}

.hero__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#about {
    height: 90vh;
}

#services {
    height: 80vh;
}

#contact {
    height: 80vh;
}



.fundo {
    background-color: #388fe6;
    height: 100%;
    width: 100%;
}


.image-container:hover .img-fluid {
    opacity: 0.2;

}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.image-container:hover::before {
    content: 'Sabias que a organização pode ter um impacto significativo no nosso bem-estar e produtividade? Estudos têm demonstrado que ambientes organizados podem reduzir os níveis de stress e ansiedade e promover portanto uma sensação de controlo e ordem.';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    display: flex;
}

.contactos {
    font-size: 19px;
}

.endPage {
    background-color: black;
}